.navbar {
  border-radius: 0px;
  z-index: 999;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.26),0 2px 10px 0 rgba(0,0,0,0.12)
}

.navbar-default {
  background-color: #2f2f33;
  border: none;
}

.navbar-brand {
  padding: 0;
  background-color: #F64747;
  transition: 1s;
  border-radius: 0 4px 4px 0;
}

.navbar-toggle {
  border: none;
  transition: 1s;
  color: #F64747;
}

.navbar-default .navbar-toggle:hover {
  border-radius: 50%;
  background: #F64747;
  color: #2f2f33;
}

.navbar-default .navbar-toggle:focus {
  border-radius: 50%;
  background: #F64747;
  color: #2f2f33;
}

.navbar-default .navbar-toggle:active {
  border-radius: 50%;
  background: #F64747;
  color: #2f2f33;
}

.navbar-default .navbar-toggle .fa:hover {
  border-radius: 50%;
}


.navbar-default .navbar-nav>li>a {
    color: #646671;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.5s;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: none;
  color: #F64747;
}

.navbar-default .navbar-nav>li>a:focus {
  background-color: none;
  color: #646671;
}

.progress-bar {
  background: #2F2F33;
}

a.thumbnail {
  transition: 1s;
  background: none;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-color: transparent;
}

a.thumbnail img {
  transition: .3s ease-in-out;
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover img {
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
}

input, textarea, keygen, select, button, .modal {
  border: none;
	outline: none;
}


/***SM***/

@media (max-width: 767px) {
  .navbar-collapse {
    background: #23282d;
    z-index: 3;
  }

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
  }

.navbar-default .navbar-nav>li>a:hover {
    background: #F64747;
    color: white;
}

}

.modal-title {
  text-align: center;
  align-items: center;
}
