* {
  font-family: helvetica;
}

::selection {
  color: white;
  background: black;
}

:active {
outline: 0;
}

body {
  background: white;
  animation: lol .01s infinite alternate linear;
}

footer {
  text-transform: uppercase;
  background: #2F2F33;
  color: white;
}

footer a{
  font-weight: bold;
  font: 16px;
  color: #F64747;
}

footer a:hover{
  text-decoration: none;
  color: white;
  background: #F64747;
  border-radius: 3px;
  padding: 3px;
}

/*SVG*/
#lm { transition: 0.5s; }

svg:hover #lm { fill: #F64747; }

.intro_block {
	position: relative;
	width: 100%;
	top: 0;
	display: block;
	z-index: 1;
	overflow: hidden;
	background: #000;
	padding: 0;
	margin: -70px 0 0 0;
	color: #444;
	background: #67809F;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: bottom;
	height: 500px;
}

.main-slogan {
	display: block;
  position: absolute;
	width: 100%;
	top: 20%;
	margin-top: 40px;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 4px;
	word-spacing: 10px;
	line-height: 100px;
	text-align: center;
	text-transform: uppercase;
  color: #646671;
}

.type {
  font-family: 'Quicksand';
  font-weight: bold;
  color: #2f2f33;
  transition: 1s;
}

.type:hover {
  color: #F64747;
}

.fa-blink {
  animation: blink 2s infinite alternate linear;
}
@keyframes blink {
0%   {
  color: white;
}
100% {
  color: #F64747;
  }
}
}

.type span::before {
  display: block;
  content: ' ';
  background: url('../../img/lm1.svg');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.title-container {
  width: 150px;
  font-size: 20px;
  font-family: 'Share Tech Mono';
  background: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 15px;
  transition: 1s;
  margin-bottom: 15px;
}

.title-container:hover {
  color: #F64747;
}

.custom-bg {
  text-align: center;
  background: #EEE;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.custom-h3 {
  background: #F64747;
  width: 60%;
  margin: 0 auto;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 0 10px 0 10px;
}

.custom-p {
  width: 70%;
  margin: 0 auto;
  font-size: 18px;
  color: #2f2f33;
  padding: 15px;
  border-radius: 0px;
  text-align: justify;
}

.title-skill {
  width: 100%;
  font-size: 20px;
  font-family: 'Share Tech Mono';
  font-weight: bold;
  background: #EEE;
  color: black;
  border-radius: 5px;
  transition: 1s;
  margin-bottom: 15px;
}

.skill-icons {
  font-size: 50px;
  color: #F64747;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

.btn-top {
  width: 300px;
  z-index: 999;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #F64747;
    top: 10px;
}

/******************Responsive MQ***************/

@media (max-width: 480px) {
.main-slogan {
	font-size: 35px;
	line-height: 60px;
 }

.main-slogan h1 {
  font-size: 25px;
  }

.title-container {
  margin: 0 auto;
  }

  .custom-p {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .intro_block {
    background-position: right;
  }

  .title-container {
    width: 95%;
    margin-bottom: 15px;
    text-align: left;
  }

  .custom-h3 {
    width: 95%;
  }
}

@media (min-width: 1000px) {
  .intro_block {
    background-position: center;
  }
}
